* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #646363 !important;
  /* line-height: 20px; */
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  border-collapse: none;
  overflow-x: hidden;
  /* width: 100vw; */
}